# Dependencies
node_modules/
vendor/

# Build
.next/
out/
dist/
/frontend/.next/
/frontend/out/

# Environment
.env
.env.local
.env.*.local

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Go
/backend/bin/
*.exe
*.test
*.out

# Debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
